# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow CPUInfo access to thermal
allow platform_app sysfs_thermal:dir search;
allow platform_app sysfs_thermal:file r_file_perms;

# Allow SystemUI to set touch sensitivity prop
allow platform_app debug_prop:property_service set;

# Allow systemui to read thermal for CPUInfo
r_dir_file(platform_app, sysfs_thermal)
